.figure
	width 100%
	text-shadow 0 1px 0 #eee
	+mq('bp-2')
		padding 0 1em

	&__figure
		text-shadow none
		width 100%
		margin 0 auto
		
	.elms-outline
		margin 0 auto
		width 100px
		margin -0.5em auto 1.5em

	&__figure-intro
		width 100%
		text-shadow 0 1px 0 #fff
		padding 0 2em
		margin 2em auto
		+mq('bp-2')
			padding 0 4em
		+mq('bp-3')
			padding 0 3em 1em
			width 50em
			
		h3
			font-size 1.15rem
			text-align center
			margin-top 1em
				
		p
			font-size 0.9rem
			line-height 1.6
			margin-top 0.5em
				
	.elms-graphic
		position relative
		width 98%
		margin 0 auto
		+mq('bp-2')
			width 98%
			margin 0 auto
		+mq('bp-3')
			width 55em
			margin 0 auto
		
		p
			font-size 0.725rem
			line-height 1.5
			+mq('bp-2')
				font-size 0.8rem
			
		.elms-img
			display none
			width 100%
			+mq('bp-2')
				display block
		
		.elms-img-mobile
			display block
			+mq('bp-2')
				display none
			
		.elms-label
			position absolute
			
		.label-one
			top 0%
			left 3%
			width 58%
			+mq('bp-2')
				left 0%
				width 53%
				top -3%
			+mq('bp-3')
				left 15%
				width 35%
				
		.label-two
			top 0%
			right 5%
			width 32%
			+mq('bp-2')
				top -3%
			+mq('bp-3')
				left 62%
				
		.label-three
			top 11%
			left 3%
			width 55%
			+mq('bp-2')
				top 13%
				left 85%
				width 15%
			+mq('bp-3')
				top 12%
				left 85%
				width 15%
			
		.label-four
			top 49%
			left 65%
			+mq('bp-2')
				top 72%
				left 77%
				width 20%
			+mq('bp-3')
				top 71%
				left 78.5%
				
		.label-five-transformed
			left 40%
			top 31%
			transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			transform-origin left top
			-webkit-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			-webkit-transform-origin left top
			-ms-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			-ms-transform-origin left top
			color #666
			white-space nowrap
			font-size 0.75rem
			line-height 1.2
			+mq('bp-2')
				left 60%
				top 42%
			+mq('bp-3')
				left 60%
				top 41%
				
		.label-six-transformed
			left 30%
			top 34%
			transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			transform-origin left top
			-webkit-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			-webkit-transform-origin left top
			-ms-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			-ms-transform-origin left top
			color #666
			white-space nowrap
			font-size 0.75rem
			line-height 1.2
			+mq('bp-2')
				left 45%
				top 41%
			+mq('bp-3')
				left 43.5%
				top 40%
				
		.label-seven
			top 48%
			left 3%
			width 55%
			background #fff
			padding 0.8em
			box-shadow 0 0 10px #C6D2CD
			+mq('bp-2')
				top 16%
				width 43%
				left 0%
				
			+mq('bp-3')
				top 23%
				left 6%
				width 30%
				padding 1em
			
		.label-eight
			top 91%
			left 5%
			width 90%
			+mq('bp-2')
				top 41%
				width 30%
				left 0%
			+mq('bp-3')
				top 48%
				left 0%
				width 31%
			
		.label-nine
			top 78.5%
			left 69%
			+mq('bp-2')
				top 84.25%
				left 44.5%
			+mq('bp-3')
				top 84.25%
				left 44.5%
			
		.label-ten
			top 68.5%
			left 15%
			width 12%
			right 0%
			+mq('bp-2')
				top 89%
				right 82%
				left 7%
			+mq('bp-3')
				top 89.5%
				right 0%
				left 9%
			
		.label-eleven-transformed
			left 75%
			top 72.5%
			transform matrix(0.8662,-0.4998,0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			transform-origin left top
			-webkit-transform matrix(0.8662,-0.4998,0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			-webkit-transform-origin left top
			-ms-transform matrix(0.8662,-0.4998,0.8662,0.4998,0,0) scaleX(1) scaleY(1)
			-ms-transform-origin left top
			color #96AE74
			white-space nowrap
			font-size 0.75rem
			line-height 1.2
			+mq('bp-2')
				left 47%
				top 75%
			+mq('bp-3')
				left 47%
				top 75%
			
		.label-twelve
			top 81%
			left 61%
			width 35%
			+mq('bp-2')
				top 89%
				left 41%
				width 30%
			+mq('bp-3')
				top 88.5%
				left 40.5%
				width 30%
	
	&__figure-mobile
		display inline
		text-shadow none
		width 100%
		margin 0 auto
		+mq('bp-3')
			display none
			
	.elms-label.label-five-transformed > p,
	.elms-label.label-six-transformed > p
			+mq('bp-2')
				font-size 0.7rem
			+mq('bp-3')
				font-size 0.8rem

	.elms-label.label-eleven-transformed > p
			font-size 0.45rem
			line-height 1
			+mq('bp-2')
				font-size 0.5rem
			+mq('bp-3')
				font-size 0.7rem
				line-height 1.1