body
    background-color $shaw-light

.intro
	position relative
	margin 2em 0 0
	+mq('bp-2')
		margin 3em 3em 1em
	
	&__img
		width 100%
		+mq('bp-2')
			display block
		.hed-img
			display none
			+mq('bp-2')
				display inline
		.hed-img-mobile
			display inline
			+mq('bp-2')
				display none

	&__heading
		position absolute
		top 55%
		left 0
		right 0
		width 100%
		border-radius 2px
		text-shadow 0 1px 0 #fff
		+mq('bp-2')
			top 45%
		+mq('bp-3')
			top 6%
	
	&__inner-heading
		background rgba(255,255,255,0.9)
		padding 1.5em 0
		margin:0 auto;
		text-align center
		+mq('bp-1')
			width 22em
		+mq('bp-3')
			width 32em
			padding 2em 0
		
	&__title
		color #222
		font-size 1.9rem
		font-weight 400
		letter-spacing -0.01em
		+mq('bp-3')
			font-size 3rem
		&:after
			content ''
			display block
			width 1em
			border-top 4px solid $shaw-medium
			margin 0.4em auto 0.5em
			
	&__summary
		color #222
		font-size 0.85rem
		line-height 1.5
		font-style italic
		letter-spacing -0.01em
		+mq('bp-3')
			font-size 1.2rem

	&__caption
		display block
		font-size 0.75rem
		line-height 1.6
		width 85%
		margin 0.4em auto 0
		color $shaw-dark
		text-shadow 0 1px 0 #eee
		+mq('bp-2')
			width 80%
			margin 0.2em auto 0
			font-size 0.8rem

.content
	width 100%
	text-shadow 0 1px 0 #fff
	+mq('bp-2')
		padding 0 3em
	
	&__container
		padding 0 2em
		margin 2em auto
		+mq('bp-3')
			padding 1em 3em
			width 50em
		
	&__hed
		font-size 1.9rem
		text-align center
		padding 0.2em 0
		letter-spacing -0.01em
		+mq('bp-2')
			font-size 2.6rem

	&__body
		font-size 1.1rem
		line-height 1.7
		margin-bottom 1.1em
		+mq('bp-2')
			font-size 1.25rem
	
	&__img
		margin 0 auto
		width 100%
		box-shadow 0 1px 2px #fff
	
	&__caption
		font-size 0.75rem
		text-align center
		padding 0.8em 0.5em 0
		color $shaw-dark
		text-shadow 0 1px 0 #eee

	&__side-img
		width 13em
		margin 2em auto 1.5em
		+mq('bp-2')
			margin 1em 0 1em 3em
			display inline
			float right

	a.shaw-link
		color $shaw-link
		text-decoration none
		border-bottom 3px solid rgba(127,66,75,0.3)
		padding-bottom 2px
		transition all 0.5s ease
			
	a:hover.shaw-link, a:visited.shaw-link
		color $shaw-link
		text-decoration none
		border-bottom 3px solid rgba(127,66,75,0.9)
		padding-bottom 2px
		transition all 0.5s ease
		
	h3
		font-size 1.45rem
		text-align center
		margin-top 2.75em
	
	&__figure
		display none
		text-shadow none
		width 100%
		margin 0 auto
		+mq('bp-3')
			display inline
		
		.elms-intro
			width 100%
			text-shadow 0 1px 0 #fff
			padding 0 2em
			margin 2em auto
			+mq('bp-3')
				padding 0 3em 1em
				width 50em
			+mq('bp-2')
				padding 0 3em
			
			h3
				font-size 1.45rem
				text-align center
				margin-top 1em
				
			p
				font-size 0.9rem
				line-height 1.6
				margin-top 0.5em
				
		.elms-graphic
			position relative
			width 90%
			margin 0 auto
			p
				font-size 0.8rem
				line-height 1.5
			.elms-img
				display block
				width 100%
			.elms-label
				position absolute
			.label-one
				top 0%
				left 20%
				width 28%
			.label-two
				top 0%
				left 62%
				width 15%
			.label-three
				top 12%
				left 85%
				width 15%
			.label-four
				top 35%
				left 88%
			.label-five-transformed
				left 62%
				top 40%
				transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				transform-origin left top
				-webkit-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				-webkit-transform-origin left top
				-ms-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				-ms-transform-origin left top
				color #666
				white-space nowrap
				font-size 0.75rem
				line-height 1.2
			.label-six-transformed
				left 43%
				top 38%
				transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				transform-origin left top
				-webkit-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				-webkit-transform-origin left top
				-ms-transform matrix(0.8662,0.4998,-0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				-ms-transform-origin left top
				color #666
				white-space nowrap
				font-size 0.75rem
				line-height 1.2
			.label-seven
				top 23%
				left 6%
				width 30%
				background #fff
				padding 1em
				box-shadow 0 0 10px #C6D2CD
			.label-eight
				top 48%
				left 0%
				width 30%
			.label-nine
				top 84.25%
				left 44.5%
			.label-ten
				top 68%
				right 81%
			.label-eleven-transformed
				left 48%
				top 73%
				transform matrix(0.8662,-0.4998,0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				transform-origin left top
				-webkit-transform matrix(0.8662,-0.4998,0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				-webkit-transform-origin left top
				-ms-transform matrix(0.8662,-0.4998,0.8662,0.4998,0,0) scaleX(1) scaleY(1)
				-ms-transform-origin left top
				color #96AE74
				white-space nowrap
				font-size 0.75rem
				line-height 1.2
			.label-twelve
				top 88.5%
				left 40.5%
				width 30%
	
	&__figure-mobile
		display inline
		text-shadow none
		width 100%
		margin 0 auto
		+mq('bp-3')
			display none

	&__caretakers
		display block
		+mq('bp-3')
			display flex
		&__profile
			display flex
			padding 0 15px
			margin-top 1em
			width 100%
		&__img
			min-width 5em
		&__bio
			margin-left 1em
			h4
				font-size 0.9rem
				font-weight 900
				margin-bottom 0.3em
			p
				font-size 0.85rem
				line-height 1.4
				
	&__endnote
		font-size 0.9rem
		text-align center
		margin 6em auto
		&:before
			content ''
			display block
			width 2em
			border-top 4px solid $shaw-medium
			margin 1.5em auto