<head>
<style>
body, .g-header {background-color: #F6F2DF;}
.intro__title:after {border-top:4px solid #D0B84E;}
</style>
</head>

<section class='intro'>
	<div class='intro__img'>
		<figure>
			<img class='hed-img' src='/boston-revealed/assets/fort-independence/fort-independence.jpg' alt='Shaw Memorial Dedication'/>
			<img class='hed-img-mobile' src='/boston-revealed/assets/fort-independence/fort-independence.jpg' alt='Shaw Memorial Dedication'/>
		</figure>
	</div>
	<div class='intro__heading'>
		<div class='intro__inner-heading'>
			<h1 class="intro__title miller-banner-regular">Fort Independence</h1>
			<p class="intro__summary" style="font-size:1.05rem;">The oldest continuously fortified site in British North America</p>
		</div>
	</div>
	<figcaption>
		<p class='intro__caption benton-regular' style="text-align:center;">This is a new caption for this Fort Independence header photo.</p>
	</figcaption>
</section>