<section class='intro'>
	<div class='intro__img'>
		<figure>
			<img class='hed-img' src='/boston-revealed/assets/shaw-elms/mhs-shaw-dedication.png'/>
			<img class='hed-img-mobile' src='/boston-revealed/assets/shaw-elms/mhs-shaw-dedication-mobile.png'/>
		</figure>
	</div>
	<div class='intro__heading'>
		<div class='intro__inner-heading'>
			<h1 class="intro__title miller-banner-regular">Shaw Memorial Elms</h1>
			<p class="intro__summary">The oldest English elms in the Western Hemisphere</p>
		</div>
	</div>
	<figcaption>
		<p class='intro__caption benton-regular'>The dedication of Augustus Saint-Gaudens's memorial to Robert Gould Shaw and the Massachusetts 54th Regiment on Boston Common, May 31, 1897 included a procession led by officers and soldiers of the regiment. Photo from the Massachusetts Historical Society Archives.</p>
	</figcaption>
</section>

<section class='content'>
	<div class='content__container'>
		<h2 class='content__hed miller-banner-regular'>Boston Common&rsquo;s oldest trees</h2>

		<p class='content__body'>At 24 Beacon Street, in the northeast corner of Boston Common, a monument honoring Robert Gould Shaw and the Massachusetts Fifty-Fourth Regiment sits between two large, distinctive elm trees. These trees are the oldest English Elms in the Western Hemisphere and are believed to have been planted by John Hancock.</p>

		<p class='content__body'>Documents from 1780 granted permission to plant the elms across from Hancock’s mansion when he was governor. Now encased in a monument to the first African American regiment in the union army, these trees have been dated and are confirmed to have been planted between 1772 and 1812.</p>

		<p class='content__body'>The memorial was erected after the planting of the elms, causing concern at the time that the trees might be damaged or destroyed, but after additional planning and consideration, the work was completed without any injury to the trees, and in fact added beauty to the final tribute.</p>
	</div>

	<figure>
		<img class='content__img' src='/boston-revealed/assets/shaw-elms/IMG_20170212_104608891_HDR.jpg'/>
		<figcaption>
			<p class='content__caption benton-regular'>The Shaw Elms in their current state. During the winter months, the retrenchment pruning is particularly visible.</p>
		</figcaption>
	</figure>

	<div class='content__container'>
		<h2 class='content__hed miller-banner-regular'>Maintaining a part of history</h2>

		<p class='content__body'>While the Shaw Memorial had undergone several restorations since its unveiling, the two elms were neglected for quite some time over the years. In 1927, it was even thought that the trees wouldn’t be around much longer. However, the genetic potential of the trees is now known to estimate an average lifespan of roughly 300-400 years.</p>

		<p class='content__body'>The location of the elms, their roots restricted and encased by the monument, provides protection against diseases like Dutch Elm Disease. That restriction has also made the wood much denser, keeping insects out.</p>

		<figure class='content__side-img'>
			<img src='/boston-revealed/assets/shaw-elms/bricks.jpg'/>
			<figcaption>
				<p class='content__caption benton-regular'>Bricks were placed inside the tree in order to stabilize the tree trunk.</p>
			</figcaption>
		</figure>
		
		<p class='content__body'>The elms didn’t begin to receive restoration or maintenance of any kind until [1968, check with FG or say “The seventies”], when arborist Henry Davis began overseeing the care of the trees free of charge.</p>
		
		<p class='content__body'>Priorities for keeping veteran trees safe from pests, rot and the ravages of time have meant using some dramatic measures over the years, everything from filling the trees with bricks to lopping several feet off of the tree tops in 2013. To protect the tree and prevent damage to the sculpture, 6 to 8 feet of the tree tops were removed to protect the tree.</p>

		<p class='content__body'>The trees are inspected every [two weeks, checking with FG]. This includes setting compost (leaf mold/organic matter), planting fertilizer every 30 days, soil testing, hydroponic care, monitoring for disease, and retrenchment pruning (cutting heavy or damaged parts of the trees to reduce weight). These maintenance measures keep the trees healthy, maintain growth, strengthen the tree’s exterior, and are what also makes them look strangely amputated over the winter.</p>
	</div>

	<figure class='content__figure'>
		<div class='elms-intro'>
			<h3 class='miller-banner-regular'>Boston&rsquo;s strangest looking trees?</h3>
			<p class='benton-regular'>This type of tree was favored for their hardiness. They have the genetic potential to live three to four hundred years. These trees were planted between 1772 and 1812. Caring for them involves cuts that create their disctive look.</p>
		</div>
		<div class='elms-graphic'>
			<img class='elms-img' src='/boston-revealed/assets/shaw-elms/img.jpg' />

			<div class='elms-label label-one'>
				<p class='benton-bold'>Retrenchment Pruning</p>
				<p class='benton-regular'>Park arborists cut heavy, long or weakened branches quite short. The foliage that remains seeds growth that reinforces the trunk of the tree.</p>
			</div>

			<div class='elms-label label-two'>
				<p class='benton-bold'>Modified Pollarding</p>
				<p class='benton-regular'>Smaller branches are cut when the trees are dormant.</p>
			</div>

			<div class='elms-label label-three'>
				<p class='benton-regular'>The bark grows over the stub ends left behind, effectively healing the cuts.</p>
			</div>

			<div class='elms-label label-four'>
				<p class='benton-bold'>Roots</p>
				<p class='benton-regular'>Visible,checked regularly</p>
			</div>

			<div class='elms-label label-five-transformed'>
				<p class='benton-regular'>SHAW MEMORIAL</p>
			</div>

			<div class='elms-label label-six-transformed'>
				<p class='g-aiPstyle4 benton-regular'>BEACON STREET</p>
			</div>

			<div class='elms-label label-seven'>
				<p class='benton-bold'>The Shaw Memorial</p>
				<p class='benton-regular'>This monument, sculpted by Augustus Saint-Gaudens, was built around the trees and unveiled in 1897.</p>
			</div>

			<div class='elms-label label-eight'>
				<p class='benton-bold'>Boston Common</p>
				<p class='benton-regular'>Dating from 1634, it is the oldest city park in the United States. Revitalization and continued stewardship have helped to protect the trees and historic park monuments.</p>
			</div>

			<div class='elms-label label-nine'>
				<p class='benton-bold'>Brewer Fountain</p>
			</div>

			<div class='elms-label label-ten'>
				<p class='benton-bold'>State House</p>
			</div>

			<div class='elms-label label-eleven-transformed'>
				<p class='g-aiPstyle6 benton-regular'>BOSTON</p>
				<p class='g-aiPstyle6 benton-regular'>COMMON</p>
			</div>

			<div class='elms-label label-twelve'>
				<p class='benton-bold'>30 Beacon St.</p>
				<p class='benton-regular'>Plaque marks former location of John Hancock&rsquo;s Mansion</p>
			</div>
		</div>
	</figure>

	<div class='content__container'>
		<h2 class='content__hed miller-banner-regular'>Caretakers</h2>

		<p class='content__body'>During the 1970’s, most parks and common areas were almost beyond repair amidst social upheaval across the city. Since that time, the parks and their monuments have been revitalized by The Friends of the Public Gardens, and currently cost one million a year to maintain, with $100,00 on parks and 42 different sculptures. For more information or to donate to help the restoration process, please visit <a class='shaw-link' href='http://friendsofthepublicgarden.org/join-donate/' target='_blank'>http://friendsofthepublicgarden.org/join-donate/</a>.</p>

		<h3 class='miller-banner-regular'>About the caretakers</h3>

		<div class='content__caretakers'>
			<div class='content__caretakers__profile'>
				<div class='content__caretakers__img'>
					<img src='http://apps.bostonglobe.com/sports/graphics/2017/01/baseball-hof/assets/img/posada_jorge.jpg'/>
				</div>
				<div class='content__caretakers__bio'>
					<h4 class='benton-bold'>Henry Davis</h4>
					<p>For 45 years, arborist Henry Davis oversaw the care of the trees free of charge. Mayor Thomas Menino declared April 26, 2013 “Henry Davis Day” in the city of Boston. Since Davis’ retirement, the work has been carried on by Norm Helie.</p>
				</div>
			</div>
			<div class='content__caretakers__profile'>
				<div class='content__caretakers__img'>
					<img src='http://apps.bostonglobe.com/sports/graphics/2017/01/baseball-hof/assets/img/posada_jorge.jpg'/>
				</div>
				<div class='content__caretakers__bio'>
					<h4 class='benton-bold'>Norm Helie</h4>
					<p>Consulting arborist and soil scientist for the Friends of the Public Gardens, in charge of the elm’s maintenance since [20?? Asking FG, not might not need this]</p>
				</div>
			</div>
		</div>

		<div class='content__endnote'>
			<p class='benton-regular'>Produced by Amanda Erickson, Tonia Cowen, and Matt Ellis</p>
		</div>

	</div>
</section>