<section class='intro'>
	<div class='intro__img'>
		<figure>
			<img class='hed-img' src='/boston-revealed/assets/shaw-elms/mhs-shaw-dedication.png' alt='Shaw Memorial Dedication'/>
			<img class='hed-img-mobile' src='/boston-revealed/assets/shaw-elms/mhs-shaw-dedication-mobile.png' alt='Shaw Memorial Dedication'/>
		</figure>
	</div>
	<div class='intro__heading'>
		<div class='intro__inner-heading'>
			<h1 class="intro__title miller-banner-regular">Shaw Memorial Elms</h1>
			<p class="intro__summary">The oldest English elms in the Western Hemisphere</p>
		</div>
	</div>
	<figcaption>
		<p class='intro__caption benton-regular'>The dedication of Augustus Saint-Gaudens's memorial to Robert Gould Shaw and the Massachusetts 54th Regiment on Boston Common, May 31, 1897, included a procession led by officers and soldiers of the regiment. Photo from the Massachusetts Historical Society Archives.</p>
	</figcaption>
</section>