<section class='content'>
	<div class='content__container'>
		<h2 class='content__hed miller-banner-regular'>Caretakers</h2>

		<p class='content__body'>Amid social upheaval in the 1970s, most parks and common areas were neglected almost beyond repair.

		Since that time, the parks and their monuments have been revitalized by The Friends of the Public Gardens. Yet even these efforts are woefully underfunded and consistently under threat. For more information or to donate to help the restoration process, visit <a class='shaw-link' href='http://friendsofthepublicgarden.org/join-donate/' target='_blank'>http://friendsofthepublicgarden.org/join-donate/</a>.</p>

		<h3 class='miller-banner-regular'>About the caretakers</h3>

		<div class='content__caretakers'>
			<div class='content__caretakers__profile'>
				<div class='content__caretakers__bio'>
					<h4 class='benton-bold'>Henry Davis</h4>
					<p>For 45 years, arborist Henry Davis oversaw the care of the trees free of charge. Mayor Thomas Menino declared April 26, 2013 “Henry Davis Day” in the city of Boston. Since Davis’ retirement, the work has been carried on by Norm Helie.</p>
				</div>
			</div>
			<div class='content__caretakers__profile'>
				<div class='content__caretakers__bio'>
					<h4 class='benton-bold'>Norm Helie</h4>
					<p>Consulting arborist and soil scientist for the Friends of the Public Garden, currently in charge of the elm’s maintenance.</p>
				</div>
			</div>
		</div>

		<div class='content__endnote'>
			<p class='benton-regular'>Produced by Amanda Erickson, Tonia Cowan, and Matt Ellis</p>
		</div>
	</div>
</section>