<section class='figure'>
		<div class='figure__figure-intro'>

			<figure class='elms-outline'>
				<img src='/boston-revealed/assets/shaw-elms/se.svg' style='width:100px;margin:-25px auto 35px;'  alt='Shaw Memorial Elms Icon'/>
			</figure>

			<h3 class='benton-bold'>Boston&rsquo;s strangest looking trees?</h3>

			<p class='benton-regular'>This type of tree was favored for its hardiness. They have the genetic potential to live 300 to 400 years. These trees were planted between 1772 and 1812. Caring for them involves cuts that create their disctive look.</p>
		</div>

	<figure class='figure__figure'>
		<div class='elms-graphic'>
			<img class='elms-img' src='/boston-revealed/assets/shaw-elms/figure.jpg' alt='Shaw Memorial Elms Figure'/>
			<img class='elms-img-mobile' src='/boston-revealed/assets/shaw-elms/figure-mobile.jpg' alt='Shaw Memorial Elms Figure'/>

			<div class='elms-label label-one'>
				<p class='benton-bold'>Retrenchment Pruning</p>
				<p class='benton-regular'>Park arborists cut heavy, long, or weakened branches quite short. The foliage that remains seeds growth that reinforces the trunk of the tree.</p>
			</div>

			<div class='elms-label label-two'>
				<p class='benton-bold'>Modified Pollarding</p>
				<p class='benton-regular'>Smaller branches are cut when the trees are dormant.</p>
			</div>

			<div class='elms-label label-three'>
				<p class='benton-regular'>The bark grows over the stub ends left behind, effectively healing the cuts.</p>
			</div>

			<div class='elms-label label-four'>
				<p class='benton-bold'>Roots</p>
				<p class='benton-regular'>Visible,checked regularly</p>
			</div>

			<div class='elms-label label-five-transformed'>
				<p class='benton-regular'>SHAW MEMORIAL</p>
			</div>

			<div class='elms-label label-six-transformed'>
				<p class='benton-regular'>BEACON STREET</p>
			</div>

			<div class='elms-label label-seven'>
				<p class='benton-bold'>The Shaw Memorial</p>
				<p class='benton-regular'>This monument, sculpted by Augustus Saint-Gaudens, was built around the trees and unveiled in 1897.</p>
			</div>

			<div class='elms-label label-eight'>
				<p class='benton-bold'>Boston Common</p>
				<p class='benton-regular'>Dating from 1634, it is the oldest city park in the United States. Revitalization and continued stewardship have helped to protect the trees and historic park monuments.</p>
			</div>

			<div class='elms-label label-nine'>
				<p class='benton-bold'>Brewer Fountain</p>
			</div>

			<div class='elms-label label-ten'>
				<p class='benton-bold'>State House</p>
			</div>

			<div class='elms-label label-eleven-transformed'>
				<p class='benton-regular'>BOSTON</p>
				<p class='benton-regular'>COMMON</p>
			</div>

			<div class='elms-label label-twelve'>
				<p class='benton-bold'>30 Beacon St.</p>
				<p class='benton-regular'>Plaque marks former location of John Hancock&rsquo;s mansion</p>
			</div>
		</div>
	</figure>
</section>